
<div class="grid grid-cols-5 gap-8">
  <div class="flex items-center justify-center w-64 h-64 col-span-1 rounded-xl bg-surface shadow-elevation-1">
    <div class="w-64 h-64 bg-primary bg-opacity-elevation-1 rounded-xl"></div>
  </div>
  <div class="flex items-center justify-center w-64 h-64 col-span-1 rounded-xl bg-surface shadow-elevation-2">
    <div class="w-64 h-64 bg-primary bg-opacity-elevation-2 rounded-xl"></div>
  </div>
  <div class="flex items-center justify-center w-64 h-64 col-span-1 rounded-xl bg-surface shadow-elevation-3">
    <div class="w-64 h-64 bg-primary bg-opacity-elevation-3 rounded-xl"></div>
  </div>
  <div class="flex items-center justify-center w-64 h-64 col-span-1 rounded-xl bg-surface shadow-elevation-4">
    <div class="w-64 h-64 bg-primary bg-opacity-elevation-4 rounded-xl"></div>
  </div>
  <div class="flex items-center justify-center w-64 h-64 col-span-1 rounded-xl bg-surface shadow-elevation-5">
    <div class="w-64 h-64 bg-primary bg-opacity-elevation-5 rounded-xl"></div>
  </div>
</div>
