<div class="w-64">
  <%= render(Jove::Form::ComboBox::Component.new(object: Identity.new, object_name: :identity, method_name: :character_id, autocomplete_url: autocompletions_identities_path)) %>
</div>
