---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2117692215/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"82cd1dc9ed13e508fd3da508a5d1a836e9137ee32158f66f8c87af6f"'
      Last-Modified:
      - Sun, 19 Jun 2022 16:39:12 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '16'
      X-Esi-Request-Id:
      - d4c45912-ab64-43ec-b5eb-c53c7e4ce072
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99010079,"birthday":"2020-10-12T16:16:42Z","bloodline_id":5,"corporation_id":98613799,"description":"","gender":"male","name":"Campian
        Shimaya","race_id":4,"security_status":0.7395651900000001}'
  recorded_at: Mon, 20 Jun 2022 00:51:44 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98613799/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6565a94f0ebad9154bd4207a39d4b4907180c8eeaed9172b99f3c8b8"'
      Last-Modified:
      - Mon, 20 Jun 2022 00:51:42 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '16'
      X-Esi-Request-Id:
      - f9d941de-587a-411b-9c60-0d5b699360af
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99010079,"ceo_id":2116142894,"creator_id":2112550682,"date_founded":"2019-09-07T17:09:22Z","description":"<font
        size=\"13\" color=\"#ff999999\"><\/font><font size=\"12\" color=\"#bfffffff\">The
        Brave Collective''s Highsecurity corporation.<br><br>Brave Empire is a non
        war-deccable corporation operating in High Sec, Low Sec &amp; Null space.
        Brave Empire is a full member of the nullsec based Brave Collective alliance
        with access to all of their space, services and resources - but with the comfort
        of a war-free highsec home so you can make the most of all space.  <br><br>We
        run fleets for all kinds of activities, from mining to gatecamps, lowsec roams
        and everything in between and have a diverse community of capsuleers with
        experience in all of it.<br><br>If you''re interested in joining please stop
        by the <\/font><font size=\"12\" color=\"#ff6868e1\"><a href=\"joinChannel:player_4620c1a1d35a11e9ac739abe94f5a43f\/\/None\/\/None\">Brave
        Empire Public<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> channel in-game
        and see <\/font><font size=\"12\" color=\"#ffffe400\"><a href=\"https:\/\/wiki.bravecollective.com\/public\/corps\/brave-empire\/how-to-apply\">How
        to Apply to Brave Empire<\/a><\/font><font size=\"12\" color=\"#bfffffff\">
        for instructions on how to apply. <\/font>","home_station_id":60014104,"member_count":2012,"name":"Brave
        Empire","shares":1000,"tax_rate":0.10000000149011612,"ticker":"I-EVE","url":"https:\/\/wiki.bravecollective.com\/public\/corps\/brave-empire\/start"}'
  recorded_at: Mon, 20 Jun 2022 00:51:44 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99010079/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"3a82b807afcdedb8ec17551a757bd93f36e1b1f3b617095eb88f1ab1"'
      Last-Modified:
      - Mon, 20 Jun 2022 00:42:47 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '15'
      X-Esi-Request-Id:
      - 7fe806a9-f324-4e23-8ed7-819586bacf96
    body:
      encoding: ASCII-8BIT
      string: '{"creator_corporation_id":98645283,"creator_id":94809264,"date_founded":"2020-06-20T01:40:36Z","executor_corporation_id":98645283,"name":"Brave
        United","ticker":"BRUVE"}'
  recorded_at: Mon, 20 Jun 2022 00:51:45 GMT
recorded_with: VCR 6.1.0
