.bundle/
.codeclimate.yml
.editorconfig
.env*
.erb-lint.yml
.gitattributes
.gitignore
.overcommit.yml
.rspec*
.rubocop*
.yard*
.yardoc/
Procfile.dev
app/assets/builds/
!app/assets/builds/.keep
config/*.key
coverage/
log/*
!log/.keep
public/assets/
spec/
storage/*
!storage/.keep
tmp/*
!tmp/**/.keep
vendor/bundle
