<%- title -%>

<%= render(partial: 'approved_tokens', locals: { tokens: @approved_tokens }) unless @approved_tokens.empty? %>

<%= render(partial: 'pending_tokens', locals: { tokens: @pending_tokens }) unless @pending_tokens.empty? %>

<div id="tokens-grid" class="mx-auto mt-8 max-w-7xl">
  <%= render(Jove::Panel::Component.new) do %>
    <div class="p-4 space-y-4">
      <%= render partial: 'tokens_grid', locals: { tokens: @active_tokens } %>
    </div>
  <% end %>
</div>
