<div class="flex space-x-4">
  <%= render(Jove::Badge::Component.new(color:, label: 'Label', icon: 'heroicons/outline/check-circle')) %>

  <%= render(Jove::Badge::Component.new(color:, label: 'Label')) %>

  <%= render(Jove::Badge::Component.new(color:, icon: 'heroicons/outline/check-circle')) %>
</div>
