<div class="prose prose-neutral">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>rem</th>
        <th>px</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>0.5</td><td>0.125</td><td>2</td><td><div class="h-4 bg-primary" style="width: .125rem;"></div></td></tr>
      <tr><td>1</td><td>0.25</td><td>4</td><td><div class="h-4 bg-primary" style="width: .25rem;"></div></td></tr>
      <tr><td>2</td><td>0.5</td><td>8</td><td><div class="h-4 bg-primary" style="width: .5rem;"></div></td></tr>
      <tr><td>3</td><td>0.75</td><td>12</td><td><div class="h-4 bg-primary" style="width: .75rem;"></div></td></tr>
      <tr><td>4</td><td>1</td><td>16</td><td><div class="h-4 bg-primary" style="width: 1rem;"></div></td></tr>
      <tr><td>6</td><td>1.5</td><td>24</td><td><div class="h-4 bg-primary" style="width: 1.5rem;"></div></td></tr>
      <tr><td>8</td><td>2</td><td>32</td><td><div class="h-4 bg-primary" style="width: 2rem;"></div></td></tr>
      <tr><td>10</td><td>2.5</td><td>40</td><td><div class="h-4 bg-primary" style="width: 2.5rem;"></div></td></tr>
      <tr><td>12</td><td>3</td><td>48</td><td><div class="h-4 bg-primary" style="width: 3rem;"></div></td></tr>
      <tr><td>16</td><td>4</td><td>64</td><td><div class="h-4 bg-primary" style="width: 4rem;"></div></td></tr>
      <tr><td>20</td><td>5</td><td>80</td><td><div class="h-4 bg-primary" style="width: 5rem;"></div></td></tr>
      <tr><td>24</td><td>6</td><td>96</td><td><div class="h-4 bg-primary" style="width: 6rem;"></div></td></tr>
      <tr><td>32</td><td>8</td><td>128</td><td><div class="h-4 bg-primary" style="width: 8rem;"></div></td></tr>
      <tr><td>48</td><td>12</td><td>192</td><td><div class="h-4 bg-primary" style="width: 12rem;"></div></td></tr>
      <tr><td>64</td><td>16</td><td>256</td><td><div class="h-4 bg-primary" style="width: 16rem;"></div></td></tr>
      <tr><td>96</td><td>24</td><td>384</td><td><div class="h-4 bg-primary" style="width: 24rem;"></div></td></tr>
      <tr><td>128</td><td>32</td><td>512</td><td><div class="h-4 bg-primary" style="width: 32rem;"></div></td></tr>
      <tr><td>160</td><td>40</td><td>640</td><td><div class="h-4 bg-primary" style="width: 40rem;"></div></td></tr>
      <tr><td>192</td><td>48</td><td>768</td><td><div class="h-4 bg-primary" style="width: 48rem;"></div></td></tr>
    </tbody>
  </table>
</div>
