---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98199293/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"f247a0493ca81f173d3df35d7f67603d9f8be46487f16cb58c5cabdf"'
      Last-Modified:
      - Fri, 17 Jun 2022 13:38:10 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '17'
      X-Esi-Request-Id:
      - 97b84d9c-d064-43fa-9301-948a4f9d07fb
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99003214,"ceo_id":95025472,"creator_id":91432281,"date_founded":"2013-05-06T22:05:46Z","description":"<font
        size=\"13\" color=\"#ff999999\">Brave Holding<br><br>Diplo Channel:  <\/font><font
        size=\"13\" color=\"#ff6868e1\"><a href=\"joinChannel:player_cef20b30588011ecac0d9abe94f5aa9b\">Diplo
        Brave<\/a><\/font><font size=\"13\" color=\"#ff999999\"> <\/font>","home_station_id":60006511,"member_count":25,"name":"Brave
        Holdings","shares":1000,"tax_rate":0.0,"ticker":"B-BRV","url":"https:\/\/www.bravecollective.com\/","war_eligible":true}'
  recorded_at: Fri, 17 Jun 2022 14:17:43 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"20586886495c1f21c4522323fc69ab262101e36c35b92bdb8164763c"'
      Last-Modified:
      - Fri, 17 Jun 2022 13:27:29 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '17'
      X-Esi-Request-Id:
      - 52c790dd-ca89-4a20-b798-371e4737231e
    body:
      encoding: ASCII-8BIT
      string: '{"creator_corporation_id":98199293,"creator_id":91432281,"date_founded":"2013-05-06T22:20:14Z","executor_corporation_id":98199293,"name":"Brave
        Collective","ticker":"BRAVE"}'
  recorded_at: Fri, 17 Jun 2022 14:17:43 GMT
recorded_with: VCR 6.1.0
