---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98199293/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"83925d471f74a218b87ba777ed39f722cc90336e7b21f31836b2839c"'
      Last-Modified:
      - Tue, 29 Mar 2022 12:18:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '39'
      X-Esi-Request-Id:
      - 8a0b9d33-3e80-49a2-a6b2-3a9ad8480f0d
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99003214,"ceo_id":95025472,"creator_id":91432281,"date_founded":"2013-05-06T22:05:46Z","description":"<font
        size=\"13\" color=\"#ff999999\">Brave Holding<br><br>Diplo Channel:  <\/font><font
        size=\"13\" color=\"#ff6868e1\"><a href=\"joinChannel:player_cef20b30588011ecac0d9abe94f5aa9b\">Diplo
        Brave<\/a><\/font><font size=\"13\" color=\"#ff999999\"> <\/font>","home_station_id":60006511,"member_count":22,"name":"Brave
        Holdings","shares":1000,"tax_rate":0.0,"ticker":"B-BRV","url":"https:\/\/www.bravecollective.com\/","war_eligible":true}'
  recorded_at: Tue, 29 Mar 2022 13:08:21 GMT
recorded_with: VCR 6.1.0
