:root {
  --jove-color-primary-0: 0 0 0;
  --jove-color-primary-10: 12 23 44;
  --jove-color-primary-20: 0 52 84;
  --jove-color-primary-25: 0 64 103;
  --jove-color-primary-30: 0 77 121;
  --jove-color-primary-35: 0 89 139;
  --jove-color-primary-40: 0 101 158;
  --jove-color-primary-50: 0 128 197;
  --jove-color-primary-60: 0 155 227;
  --jove-color-primary-70: 27 182 255;
  --jove-color-primary-80: 126 206 255;
  --jove-color-primary-90: 197 230 255;
  --jove-color-primary-95: 228 242 255;
  --jove-color-primary-98: 246 249 255;
  --jove-color-primary-99: 251 252 255;
  --jove-color-primary-100: 255 255 255;
  --jove-color-secondary-0: 0 0 0;
  --jove-color-secondary-10: 7 29 43;
  --jove-color-secondary-20: 31 51 66;
  --jove-color-secondary-25: 41 62 77;
  --jove-color-secondary-30: 52 73 89;
  --jove-color-secondary-35: 64 85 101;
  --jove-color-secondary-40: 77 97 113;
  --jove-color-secondary-50: 102 122 139;
  --jove-color-secondary-60: 127 147 164;
  --jove-color-secondary-70: 153 173 192;
  --jove-color-secondary-80: 180 201 220;
  --jove-color-secondary-90: 208 229 248;
  --jove-color-secondary-95: 228 242 255;
  --jove-color-secondary-98: 246 249 255;
  --jove-color-secondary-99: 251 252 255;
  --jove-color-secondary-100: 255 255 255;
  --jove-color-tertiary-0: 0 0 0;
  --jove-color-tertiary-10: 37 20 54;
  --jove-color-tertiary-20: 58 41 75;
  --jove-color-tertiary-25: 70 52 88;
  --jove-color-tertiary-30: 81 64 99;
  --jove-color-tertiary-35: 92 75 111;
  --jove-color-tertiary-40: 106 87 124;
  --jove-color-tertiary-50: 131 111 150;
  --jove-color-tertiary-60: 157 137 177;
  --jove-color-tertiary-70: 186 163 205;
  --jove-color-tertiary-80: 213 190 233;
  --jove-color-tertiary-90: 242 218 255;
  --jove-color-tertiary-95: 252 237 255;
  --jove-color-tertiary-98: 255 247 255;
  --jove-color-tertiary-99: 255 251 252;
  --jove-color-tertiary-100: 255 255 255;
  --jove-color-danger-0: 0 0 0;
  --jove-color-danger-10: 71 0 0;
  --jove-color-danger-20: 115 0 0;
  --jove-color-danger-25: 137 0 0;
  --jove-color-danger-30: 160 0 0;
  --jove-color-danger-35: 183 0 0;
  --jove-color-danger-40: 202 0 5;
  --jove-color-danger-50: 241 25 31;
  --jove-color-danger-60: 255 63 61;
  --jove-color-danger-70: 255 129 117;
  --jove-color-danger-80: 255 176 166;
  --jove-color-danger-90: 255 217 211;
  --jove-color-danger-95: 255 236 232;
  --jove-color-danger-98: 255 248 246;
  --jove-color-danger-99: 252 252 252;
  --jove-color-danger-100: 255 255 255;
  --jove-color-success-0: 0 0 0;
  --jove-color-success-10: 0 33 18;
  --jove-color-success-20: 0 58 34;
  --jove-color-success-25: 0 71 43;
  --jove-color-success-30: 0 84 51;
  --jove-color-success-35: 0 97 61;
  --jove-color-success-40: 0 110 70;
  --jove-color-success-50: 0 138 90;
  --jove-color-success-60: 0 167 112;
  --jove-color-success-70: 0 195 137;
  --jove-color-success-80: 0 224 163;
  --jove-color-success-90: 47 254 189;
  --jove-color-success-95: 167 255 218;
  --jove-color-success-98: 223 255 239;
  --jove-color-success-99: 242 255 247;
  --jove-color-success-100: 255 255 255;
  --jove-color-notice-0: 0 0 0;
  --jove-color-notice-10: 55 16 0;
  --jove-color-notice-20: 88 32 0;
  --jove-color-notice-25: 106 41 0;
  --jove-color-notice-30: 124 50 0;
  --jove-color-notice-35: 142 58 0;
  --jove-color-notice-40: 162 68 0;
  --jove-color-notice-50: 203 86 0;
  --jove-color-notice-60: 236 109 0;
  --jove-color-notice-70: 255 134 0;
  --jove-color-notice-80: 255 179 121;
  --jove-color-notice-90: 255 218 193;
  --jove-color-notice-95: 255 235 224;
  --jove-color-notice-98: 255 248 244;
  --jove-color-notice-99: 252 252 252;
  --jove-color-notice-100: 255 255 255;
  --jove-color-neutral-0: 0 0 0;
  --jove-color-neutral-10: 27 28 30;
  --jove-color-neutral-20: 47 48 50;
  --jove-color-neutral-25: 59 60 62;
  --jove-color-neutral-30: 70 71 74;
  --jove-color-neutral-35: 81 82 85;
  --jove-color-neutral-40: 93 94 97;
  --jove-color-neutral-50: 118 119 122;
  --jove-color-neutral-60: 144 145 148;
  --jove-color-neutral-70: 170 171 174;
  --jove-color-neutral-80: 197 198 201;
  --jove-color-neutral-90: 226 226 229;
  --jove-color-neutral-95: 240 240 243;
  --jove-color-neutral-98: 249 249 252;
  --jove-color-neutral-99: 252 252 255;
  --jove-color-neutral-100: 255 255 255;
  --jove-color-neutral-variant-0: 0 0 0;
  --jove-color-neutral-variant-10: 21 28 34;
  --jove-color-neutral-variant-20: 42 49 55;
  --jove-color-neutral-variant-25: 56 60 66;
  --jove-color-neutral-variant-30: 64 71 77;
  --jove-color-neutral-variant-35: 76 83 90;
  --jove-color-neutral-variant-40: 88 95 102;
  --jove-color-neutral-variant-50: 112 119 126;
  --jove-color-neutral-variant-60: 138 145 152;
  --jove-color-neutral-variant-70: 165 172 180;
  --jove-color-neutral-variant-80: 192 199 206;
  --jove-color-neutral-variant-90: 220 227 235;
  --jove-color-neutral-variant-95: 234 241 250;
  --jove-color-neutral-variant-98: 246 249 255;
  --jove-color-neutral-variant-99: 251 252 255;
  --jove-color-neutral-variant-100: 255 255 255;

  --jove-theme-light-primary: var(--jove-color-primary-40);
  --jove-theme-light-on-primary: var(--jove-color-primary-100);
  --jove-theme-light-primary-container: var(--jove-color-primary-90);
  --jove-theme-light-on-primary-container: var(--jove-color-primary-10);

  --jove-theme-light-secondary: var(--jove-color-secondary-40);
  --jove-theme-light-on-secondary: var(--jove-color-secondary-100);
  --jove-theme-light-secondary-container: var(--jove-color-secondary-90);
  --jove-theme-light-on-secondary-container: var(--jove-color-secondary-10);

  --jove-theme-light-tertiary: var(--jove-color-tertiary-40);
  --jove-theme-light-on-tertiary: var(--jove-color-tertiary-100);
  --jove-theme-light-tertiary-container: var(--jove-color-tertiary-90);
  --jove-theme-light-on-tertiary-container: var(--jove-color-tertiary-10);

  --jove-theme-light-danger: var(--jove-color-danger-40);
  --jove-theme-light-on-danger: var(--jove-color-danger-100);
  --jove-theme-light-danger-container: var(--jove-color-danger-90);
  --jove-theme-light-on-danger-container: var(--jove-color-danger-10);

  --jove-theme-light-success: var(--jove-color-success-40);
  --jove-theme-light-on-success: var(--jove-color-success-100);
  --jove-theme-light-success-container: var(--jove-color-success-90);
  --jove-theme-light-on-success-container: var(--jove-color-success-10);

  --jove-theme-light-notice: var(--jove-color-notice-40);
  --jove-theme-light-on-notice: var(--jove-color-notice-100);
  --jove-theme-light-notice-container: var(--jove-color-notice-90);
  --jove-theme-light-on-notice-container: var(--jove-color-notice-10);

  --jove-theme-light-background: var(--jove-color-neutral-99);
  --jove-theme-light-on-background: var(--jove-color-neutral-10);
  --jove-theme-light-surface: var(--jove-color-neutral-99);
  --jove-theme-light-on-surface: var(--jove-color-neutral-10);
  --jove-theme-light-surface-variant: var(--jove-color-neutral-variant-90);
  --jove-theme-light-on-surface-variant: var(--jove-color-neutral-variant-30);

  --jove-theme-light-outline: var(--jove-color-neutral-variant-50);

  --jove-theme-dark-primary: var(--jove-color-primary-80);
  --jove-theme-dark-on-primary: var(--jove-color-primary-20);
  --jove-theme-dark-primary-container: var(--jove-color-primary-30);
  --jove-theme-dark-on-primary-container: var(--jove-color-primary-90);

  --jove-theme-dark-secondary: var(--jove-color-secondary-80);
  --jove-theme-dark-on-secondary: var(--jove-color-secondary-20);
  --jove-theme-dark-secondary-container: var(--jove-color-secondary-30);
  --jove-theme-dark-on-secondary-container: var(--jove-color-secondary-90);

  --jove-theme-dark-tertiary: var(--jove-color-tertiary-80);
  --jove-theme-dark-on-tertiary: var(--jove-color-tertiary-20);
  --jove-theme-dark-tertiary-container: var(--jove-color-tertiary-30);
  --jove-theme-dark-on-tertiary-container: var(--jove-color-tertiary-90);

  --jove-theme-dark-danger: var(--jove-color-danger-80);
  --jove-theme-dark-on-danger: var(--jove-color-danger-20);
  --jove-theme-dark-danger-container: var(--jove-color-danger-30);
  --jove-theme-dark-on-danger-container: var(--jove-color-danger-90);

  --jove-theme-dark-success: var(--jove-color-success-80);
  --jove-theme-dark-on-success: var(--jove-color-success-20);
  --jove-theme-dark-success-container: var(--jove-color-success-30);
  --jove-theme-dark-on-success-container: var(--jove-color-success-90);

  --jove-theme-dark-notice: var(--jove-color-notice-80);
  --jove-theme-dark-on-notice: var(--jove-color-notice-20);
  --jove-theme-dark-notice-container: var(--jove-color-notice-30);
  --jove-theme-dark-on-notice-container: var(--jove-color-notice-90);

  --jove-theme-dark-background: var(--jove-color-neutral-10);
  --jove-theme-dark-on-background: var(--jove-color-neutral-90);
  --jove-theme-dark-surface: var(--jove-color-neutral-10);
  --jove-theme-dark-on-surface: var(--jove-color-neutral-90);
  --jove-theme-dark-surface-variant: var(--jove-color-neutral-variant-30);
  --jove-theme-dark-on-surface-variant: var(--jove-color-neutral-variant-80);

  --jove-theme-dark-outline: var(--jove-color-neutral-variant-60);

  --jove-theme-primary: var(--jove-theme-light-primary);
  --jove-theme-on-primary: var(--jove-theme-light-on-primary);
  --jove-theme-primary-container: var(--jove-theme-light-primary-container);
  --jove-theme-on-primary-container: var(--jove-theme-light-on-primary-container);
  --jove-theme-secondary: var(--jove-theme-light-secondary);
  --jove-theme-on-secondary: var(--jove-theme-light-on-secondary);
  --jove-theme-secondary-container: var(--jove-theme-light-secondary-container);
  --jove-theme-on-secondary-container: var(--jove-theme-light-on-secondary-container);
  --jove-theme-tertiary: var(--jove-theme-light-tertiary);
  --jove-theme-on-tertiary: var(--jove-theme-light-on-tertiary);
  --jove-theme-tertiary-container: var(--jove-theme-light-tertiary-container);
  --jove-theme-on-tertiary-container: var(--jove-theme-light-on-tertiary-container);
  --jove-theme-danger: var(--jove-theme-light-danger);
  --jove-theme-on-danger: var(--jove-theme-light-on-danger);
  --jove-theme-danger-container: var(--jove-theme-light-danger-container);
  --jove-theme-on-danger-container: var(--jove-theme-light-on-danger-container);
  --jove-theme-success: var(--jove-theme-light-success);
  --jove-theme-on-success: var(--jove-theme-light-on-success);
  --jove-theme-success-container: var(--jove-theme-light-success-container);
  --jove-theme-on-success-container: var(--jove-theme-light-on-success-container);
  --jove-theme-notice: var(--jove-theme-light-notice);
  --jove-theme-on-notice: var(--jove-theme-light-on-notice);
  --jove-theme-notice-container: var(--jove-theme-light-notice-container);
  --jove-theme-on-notice-container: var(--jove-theme-light-on-notice-container);
  --jove-theme-background: var(--jove-theme-light-background);
  --jove-theme-on-background: var(--jove-theme-light-on-background);
  --jove-theme-surface: var(--jove-theme-light-surface);
  --jove-theme-on-surface: var(--jove-theme-light-on-surface);
  --jove-theme-surface-variant: var(--jove-theme-light-surface-variant);
  --jove-theme-on-surface-variant: var(--jove-theme-light-on-surface-variant);
  --jove-theme-outline: var(--jove-theme-light-outline);
}

.dark {
  --jove-theme-primary: var(--jove-theme-dark-primary);
  --jove-theme-on-primary: var(--jove-theme-dark-on-primary);
  --jove-theme-primary-container: var(--jove-theme-dark-primary-container);
  --jove-theme-on-primary-container: var(--jove-theme-dark-on-primary-container);
  --jove-theme-secondary: var(--jove-theme-dark-secondary);
  --jove-theme-on-secondary: var(--jove-theme-dark-on-secondary);
  --jove-theme-secondary-container: var(--jove-theme-dark-secondary-container);
  --jove-theme-on-secondary-container: var(--jove-theme-dark-on-secondary-container);
  --jove-theme-tertiary: var(--jove-theme-dark-tertiary);
  --jove-theme-on-tertiary: var(--jove-theme-dark-on-tertiary);
  --jove-theme-tertiary-container: var(--jove-theme-dark-tertiary-container);
  --jove-theme-on-tertiary-container: var(--jove-theme-dark-on-tertiary-container);
  --jove-theme-danger: var(--jove-theme-dark-danger);
  --jove-theme-on-danger: var(--jove-theme-dark-on-danger);
  --jove-theme-danger-container: var(--jove-theme-dark-danger-container);
  --jove-theme-on-danger-container: var(--jove-theme-dark-on-danger-container);
  --jove-theme-success: var(--jove-theme-dark-success);
  --jove-theme-on-success: var(--jove-theme-dark-on-success);
  --jove-theme-success-container: var(--jove-theme-dark-success-container);
  --jove-theme-on-success-container: var(--jove-theme-dark-on-success-container);
  --jove-theme-notice: var(--jove-theme-dark-notice);
  --jove-theme-on-notice: var(--jove-theme-dark-on-notice);
  --jove-theme-notice-container: var(--jove-theme-dark-notice-container);
  --jove-theme-on-notice-container: var(--jove-theme-dark-on-notice-container);
  --jove-theme-background: var(--jove-theme-dark-background);
  --jove-theme-on-background: var(--jove-theme-dark-on-background);
  --jove-theme-surface: var(--jove-theme-dark-surface);
  --jove-theme-on-surface: var(--jove-theme-dark-on-surface);
  --jove-theme-surface-variant: var(--jove-theme-dark-surface-variant);
  --jove-theme-on-surface-variant: var(--jove-theme-dark-on-surface-variant);
  --jove-theme-outline: var(--jove-theme-dark-outline);
}
