<div class="prose prose-neutral">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Line height</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>display-lg</td><td>3.75rem (60px)</td><td>1 (60px)</td><td><span class="text-display-lg">Display Large</span></td>
      <tr><td>display-md</td><td>3rem (48px)</td><td>1 (48px)</td><td><span class="text-display-md">Display Medium</span></td>
      <tr><td>display-sm</td><td>2.25rem (36px)</td><td>2.5rem (40px)</td><td><span class="text-display-sm">Display Small</span></td>

      <tr><td>headline-lg</td><td>1.875rem (30px)</td><td>2.25rem (36px)</td><td><span class="text-headline-lg">Headline Large</span></td>
      <tr><td>headline-md</td><td>1.5rem (24px)</td><td>2rem (32px)</td><td><span class="text-headline-md">Headline Medium</span></td>
      <tr><td>headline-sm</td><td>1.25rem (20px)</td><td>1.75rem (28px)</td><td><span class="text-headline-sm">Headline Small</span></td>

      <tr><td>title-lg</td><td>1.125rem (18px)</td><td>1.75rem (28px)</td><td><span class="text-title-lg">Title Large</span></td>
      <tr><td>title-md</td><td>1rem (16px)</td><td>1.5rem (24px)</td><td><span class="text-title-md">Title Medium</span></td>
      <tr><td>title-sm</td><td>0.875rem (14px)</td><td>1.25rem (20px)</td><td><span class="text-title-sm">Title Small</span></td>

      <tr><td>body-lg</td><td>1rem (16px)</td><td>1.5rem (24px)</td><td><span class="text-body-lg">Body Large</span></td>
      <tr><td>body-md</td><td>0.875rem (14px)</td><td>1.25rem (20px)</td><td><span class="text-body-md">Body Medium</span></td>
      <tr><td>body-sm</td><td>0.75rem (12px)</td><td>1rem (16px)</td><td><span class="text-body-sm">Body Small</span></td>

      <tr><td>label-lg</td><td>0.875rem (14px)</td><td>1.25rem (20px)</td><td><span class="text-label-lg">Label Large</span></td>
      <tr><td>label-md</td><td>0.75rem (12px)</td><td>1rem (16px)</td><td><span class="text-label-md">Label Medium</span></td>
      <tr><td>label-sm</td><td>0.625rem (10px)</td><td>0.75rem (12px)</td><td><span class="text-label-sm">Label Small</span></td>
    </tbody>
  </table>
</div>
