<div class="prose prose-neutral">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Line height</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>2xs</td><td>0.625rem (10px)</td><td>0.75rem (12px)</td><td><span class="text-2xs">Inter var</span></td>
      <tr><td>xs</td><td>0.75rem (12px)</td><td>1rem (16px)</td><td><span class="text-xs">Inter var</span></td>
      <tr><td>sm</td><td>0.875rem (14px)</td><td>1.25rem (20px)</td><td><span class="text-sm">Inter var</span></td>
      <tr><td>md</td><td>1rem (16px)</td><td>1.5rem (24px)</td><td><span class="text-sm">Inter var</span></td>
      <tr><td>lg</td><td>1.125rem (18px)</td><td>1.75rem (28px)</td><td><span class="text-lg">Inter var</span></td>
      <tr><td>xl</td><td>1.25rem (20px)</td><td>1.75rem (28px)</td><td><span class="text-xl">Inter var</span></td>
      <tr><td>2xl</td><td>1.5rem (24px)</td><td>2rem (32px)</td><td><span class="text-2xl">Inter var</span></td>
      <tr><td>3xl</td><td>1.875rem (30px)</td><td>2.25rem (36px)</td><td><span class="text-3xl">Inter var</span></td>
      <tr><td>4xl</td><td>2.25rem (36px)</td><td>2.5rem (40px)</td><td><span class="text-4xl">Inter var</span></td>
      <tr><td>5xl</td><td>3rem (48px)</td><td>1 (48px)</td><td><span class="text-5xl">Inter var</span></td>
      <tr><td>6xl</td><td>3.75rem (60px)</td><td>1 (60px)</td><td><span class="text-6xl">Inter var</span></td>
      <tr><td>7xl</td><td>4.5rem (72px)</td><td>1 (72px)</td><td><span class="text-7xl">Inter var</span></td>
      <tr><td>8xl</td><td>6rem (96px)</td><td>1 (96px)</td><td><span class="text-8xl">Inter var</span></td>
      <tr><td>9xl</td><td>8rem (128px)</td><td>1 (128px)</td><td><span class="text-9xl">Inter var</span></td>
    </tbody>
  </table>
</div>
