<% content_for :main do %>
  <div class="w-full max-w-2xl mx-auto mt-8">
    <%= render(Jove::Tabs::Component.new) do |tabs| %>
      <% tabs.item label: 'Account', href: settings_account_path, icon: 'heroicons/outline/cog', active: controller_name == 'account' %>
      <% tabs.item label: 'Characters', href: settings_identities_path, icon: 'heroicons/outline/users', active: controller_name == 'identities' %>
      <% tabs.item label: 'ESI', href: settings_esi_tokens_path, icon: 'heroicons/outline/finger-print', active: controller_name == 'esi_tokens' %>
    <% end %>
  </div>

  <main class="container px-4 mx-auto sm:px-6 lg:px-8">
    <%= yield %>
  </main>
<% end %>
<%= render template: 'layouts/application' %>
